{{page-title "TestApp"}}
<blink class='__-scoped-class'>
  <p> jilijasd;fk </p>
</blink>
<Test />

<BasicDropdownWormhole /> 
<style>
  .__-scoped-class p {
    color:red
  }
</style>
{{!-- <Outer>
  <:block>
    <p>
      Paragraph in a named block
    </p>
  </:block>
</Outer>

<p class="global" data-test-global-p>
  Paragraph with a class from a component style block
</p>

<Multiple />
<UsesAnImport />
{{outlet}}
--}}