<style>
  p { color: blue; }

  p ~ .something, h1 ~ .something {
    display: none;
  }
</style>

<h1 data-test-outer-h1>
  Outer h1
</h1>
<p data-test-outer-p>
  Outer p.
</p>
<Inner />

{{yield to="block"}}