<style>
  p { color: blue; }

  /* This exercises a bug fix related to base64 encoding of CSS */
  p ~ .something, h1 ~ .something {
    display: none;
  }

  :global(.global) {
    color: red;
  }

  div :deep(pre) {
    color: green;
  }
</style>
<style data-test-unscoped-root-style unscoped>
  p {
    text-align: end;
  }
</style>

<h1 data-test-outer-h1>
  Outer h1
</h1>
<p data-test-outer-p>
  Outer p.
</p>

<div>
  <Inner />
</div>

<style unscoped>
  p {
    text-transform: uppercase;
  }
</style>

{{yield to="block"}}